params {

    bam       = "$projectDir/../../test_data/bam/bc2007_aligned.bam"
    reference = "$projectDir/../../test_data/reference/H10407_ref.fasta"

    outdir    = "$projectDir/../../results"

    threads   = 8
    platform  = 'pacbio'       // or 'ont'
}

process {
    executor   = 'local'
    cache      = false
    errorStrategy = 'finish'
}

conda { enabled = true }

trace {
    enabled   = true
    file      = "${params.outdir}/small_variants/execution_trace.txt"
    overwrite = true
}
