params {

    bam      = "$projectDir/../../test_data/bam/bc2007_aligned.bam"
    reference = "$projectDir/../../test_data/reference/H10407_ref.fasta"

    outdir   = "$projectDir/../../results"

    threads  = 8
    save_intermediates = true

    multiqc_report = true
}


process {
    executor      = 'local'
    cache         = false
    maxRetries    = 1
    errorStrategy = 'finish'
}


trace {
    enabled   = true
    file      = "${params.outdir}/sv_calling/execution_trace.txt"
    overwrite = true
}

dag {
    enabled   = true
    file      = "${params.outdir}/sv_calling/pipeline_dag.svg"
    overwrite = true
}
