params {
  test_bam = "$projectDir/../../test_data/bam/bc2007.bam"
  outdir   = "$projectDir/../../results"

  save_intermediates = true

  // params for fastq filtering
  filter_reads = true
  min_read_length = 1000
  min_read_quality = 7

}

process {
  executor = 'local'
  cache = false
  maxRetries = 1
  errorStrategy = 'finish'

  // for fast tests i just run it within my existing conda env
  // conda = "$projectDir/../../environments/hifi_varc_main_env.yml"
}

conda {
  enabled = true
}

trace {
    enabled = true
    file = "${params.outdir}/execution_trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_dag.svg"
}