params {
    bam = "$projectDir/../../test_data/bam/bc2007.bam"
    outdir   = "$projectDir/../../results"
    save_intermediates = true
    
    threads = 8

    // params for alignment
    reference = "$projectDir/../../test_data/reference/H10407_ref.fasta"
    // min_map_quality = 20
    // min_read_length = 1000
    // min_read_quality = 7

    // params for qc
    fastqc_report = true
    multiqc_report = true
}


process {
  executor = 'local'
  cache = false
  maxRetries = 1
  errorStrategy = 'finish'

  

  // for fast tests i just run it within my existing conda env
  // conda = "$projectDir/../../environments/hifi_varc_main_env.yml"
}

conda {
  enabled = true
}

trace {
    enabled = true
    file = "${params.outdir}/alignment/execution_trace.txt"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/alignment/pipeline_dag.svg"
    overwrite = true
}
